<div class="container">
  <!-- Loop through each post in the database -->
  {{#each posts as |post| }}
    <div class="">
      <h3 class="post-title display-flex justify-space-between-lg align-center"><span>{{title}}</span> <span class="meta">Posted by {{post.user.username}} on {{format_date post.date_created}}</span></h3>
      <div class="post-content">{{description}}</div>
      <div class="post-comment-button">
        <a href="/post/{{post.id}}" class="btn comment-btn">+ ADD COMMENT</a>
      </div>
    </div>
  {{/each}}
  {{#if logged_in}}  
    <a class="btn" id="create-post" href="/newPost">NEW POST</a>
  {{/if}}
</div>